/origonal_3.png
/partB_A_acc.png
/partB_A_info.txt
/rot3.png
/confusionMatrixB_A.png
/confusionMatrixC_A.png
/confusionMatrixC_B.png
/partC_A_acc.png
/partC_A_info.txt
/partC_B_acc.png
/partC_B_info.txt
/scaled_3.png
